{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Tasks</title>
</head>
<body>
    <h1>User Tasks</h1>

    {% if tasks %}
    <h2>Tasks for {{ username }}</h2>
    <div id="taskList">
        {% for task in tasks %}
        <div class="task">
            <p>Owner: {{ task.owner.username }}</p>
            <p>Name: {{ task.name }}</p>
            <p>Category: {{ task.category }}</p>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No tasks found for the specified user.</p>
    {% endif %}

    <h1>Task List</h1>
    
    <div id="tasklist"></div>

    <script src ="{% static 'js/userstasks.js' %}"></script>
</body>
</html>